# Project exclude paths
/v17-api/v17-product-api/target/
/v17-basic/v17-commons/target/
/v17-basic/v17-entity/target/
/v17-basic/v17-mapper/target/
/.idea
*.iws
*.iml
*.ipr
/target/
/v17-api/target
/v17-web/target
/v17-service/target
/v17-temp/v17-rabbitmq-java/target
/v17-temp/v17-redis/target
/v17-temp/v17-aliyun-sms/target
/v17-temp/v17-jwt/target
/v17-api/v17-search-api/target
/v17-api/v17-user-api/target
/v17-api/v17-sms-api/target
/v17-api/v17-email-api/target
/v17-api/v17-cart-api/target
/.mvn/
*.md
mvnw
mvnw.cmd